.containerOrders {
  margin-top: 50px;
}

.divHeaderButtons {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  margin-bottom: 10px;
  margin-top: -90px;
  margin-bottom: 20px;
}

.headerButtons {
  width: 20%;
  font-size: 1.1rem;
}