.containerNewOrder {
  margin-top: 50px;
}

.divHeaderButtons {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  margin-bottom: 10px;
  margin-top: -90px;
  margin-bottom: 20px;
}

.headerButtons {
  width: 20%;
  font-size: 1rem;
}

.formButtons {
  margin: -10px 0 15px 0;
  
  button {
    font-size: 1rem;
    width: 30%;
  }
}